<!DOCTYPE html>
<html lang="fr">

<head>
  <title><%= title %> </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
  <h1>Envoie de sms par internet</h1>
  <p> <%= message %> </p>
 
  <form action="./send" method="post">
    <table>
    <tr>
      <td><label for="numero">Numero du receveur</label></td>
      <td><input type="text" name="numero" id="numero" placeholder="+22965656565"></td>
    </tr>
    <tr>
      <td> <label for="message">Message</label></td>
      <td> <textarea name="message" id="message" cols="27" rows="5"></textarea></td>
    </tr>
    <tr>
      <td> <button type="button" onclick="getmessage()" >Liste des messages </button></td>
       <td><button type="submit" name="send" id="send" >  Envoyer <i class="far fa-paper-plane"></i> </button> </td>  
    </tr>
  </table>
  </form>

  <nav>
    <h3 id="liste" >Liste des messages envoyés par le formulaire</h3>
    <ul id="myList">

    </ul>
  </nav>

<script src="javascripts/scripts.js" ></script>
</body>
</html>
